.rating-wrapper {
    margin: 5px 0;
}

.rating {
    color: var(--white-color);
    background-color: var(--success-color);
    padding: 2px 4px;
    border-radius: 7px;
    margin-left: 7px;
}

.rating-wrapper span {
    color: var(--info-color);
    font-weight: bold;
}

